
<div class="card">
  <img src= "<%= @user.image %>" alt="<%= @user.name%>" style="width:50%; border-radius: 50%; box-shadow: 0 4px 8px 0 rgb(142 0 255 / 76%);">
  <div class="container">
    <h1><b><%= @user.name %> </b></h1> 
    <h3> Age: <%=@user.age %></h3> 
    <%= button_to 'Update Info', edit_user_path(@current_user), method: :get, class:"myClass" %>
  </div>
</div>


<div class="resevation">
<h1>Reservations</h1>
</div>




<div class="main-div">
    <% @user.reservations.each do |res| %>
        <h1 class ="ride-h1"><%= link_to res.ride.name, ride_path(res.ride) %></h1><br>
       <img src="<%= res.ride.image %>" alt="<%= res.ride.image%>" style="width:60%"><br>

        <h3> Reservation Time: <%= res.date_time.strftime(" %m/%d/%Y at %I:%M")%></h3> <br>
        <%= button_to 'Update Reservation', edit_reservation_path(res), method: :get, class:"myClass" %>
        
            <%= link_to res, method: :delete, data: {confirm: "Are You Sure?"} do%>
              <div class="mydelete" >
                Delete?
                <br>
                </div>
           
            <%end%>
          
    <%end%>
</div>
 
