 <%= link_to 'Update Info', edit_user_path(@current_user) %> <%= link_to "Home", root_path %><br>
 <h1> <%= @user.name %> </h1>
 <h3>Age: <%=@user.age %></h3>

 <img src= "<%= @user.image %>" alt="<%= @user.name%>"><br>

<br>


<strong> Reservations: </strong>



<div class="main-div">
    <% @user.reservations.each do |res| %>
        <%= link_to res.ride.name, ride_path(res.ride) %><br>
       <img src="<%= res.ride.image %>" alt="<%= res.ride.image%>"><br>

        Date/Time: <%= res.date_time.strftime(" %m/%d/%Y at %I:%M")%> <br>
        
      
        <div class="row">
            <%= link_to edit_reservation_path(res) do %>
            <div class="column edit">
                <%= button_to "Edit" %>
            </div>
            <%end%>
            <%= link_to res, method: :delete, data: {confirm: "Are You Sure?"} do%>
            <div class="btn delete">
                <%= button_to "Delete" %><br>
                <br>
            </div>
            <%end%>
          </div>
    <%end%>
</div>
 
