
 <h1> <%= @ride.name %> </h1>


  <img src="<%= @ride.image %>" alt="<%= @ride.name%>"><br>

  <br>

<strong> Description: </strong><br>
  <%= @ride.description %><br>

  <br>

  <strong> Price: </strong><br>
  <%= @ride.price %><br>

  <br>

  <strong> Capacity: </strong><br>
  <%= @ride.capacity %><br>

  <br>

  <strong> Comments/Ratings: </strong>

  <br>

<ul>
  <% @ride.message_boards.each do |mess| %>
       <li> 
          User: <%= mess.user.name %> - <%= mess.comment %> - Rating: <%= mess.rating %> -
           <% if @current_user == mess.user %>
            <%= button_to "Delete Comment", message_board_path(mess), method: :delete %>
          <% end %>
        </li>
    <% end %>

  </ul>


  


  

  







