

  <div class="card">
  <h1><b> Name: <%= @ride.name %> </b></h1> 
  
  <div class="container">
  <img src= "<%= @ride.image %>" alt="<%= @ride.name%>" style="width:50%">
    <h3><p> Description: </h3> <%= @ride.description %></p>
    <h3> Capacity: <%=@ride.capacity %></h3> 
  </div>
</div>
 <h1><strong> Comments/Ratings: </strong></h1>
<ul>
  <% @ride.message_boards.each do |mess| %>
       <li> 
          <b><%= mess.user.name %> </b><br>
            Rating: <%= mess.rating %> <br>
             <%= mess.comment %> 
           <% if @current_user == mess.user %>
            <%= button_to "Delete", message_board_path(mess), method: :delete, class:"myClass"%> <%= button_to "Update", edit_message_board_path(mess), method: :get, class:"myClass"%>
            
          <% end %>
        </li>
    <% end %>

  </ul>


  


  

  







