 <%= link_to "Home", root_path %><br>
 <h1> <%= @ride.name %> </h1>


  <img src="<%= @ride.image %>" alt="<%= @ride.name%>"><br>


<strong> Description: </strong><br>
  <%= @ride.description %><br>

  <strong> Price: </strong><br>
  <%= @ride.price %><br>

  <strong> Capacity: </strong><br>
  <%= @ride.capacity %><br>
  







