<!DOCTYPE html>
<html>
  <head>
    <title>RateAdventure</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>




  <body>
  <% if logged_in? %>
     <div class="topnav">
     <a> <%= link_to "Home", root_path %> </a>
     <a> <%= link_to "Rides", rides_path %> </a>
     <a> <%= link_to "Reservation", new_reservation_path %> </a>
     <a> <%= link_to "Profile", user_path(@current_user) %> </a>
     <a> <%= link_to "Rate Ride", new_message_board_path %> </a>
     <a> <%= link_to "Sign Out", "/logout", method: :delete %></a>
     <a> Logged in as: <%=  @current_user.name%> </a>
  
     <% end %>
 
    </div>
      
     
    <%= yield %>
  </body>
</html>
